<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pBlazeIDELists.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pBlazeIDELists.Properties.Settings>
            <setting name="LastFileUsedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TestFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AppExecPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RecFile1" serializeAs="String">
                <value />
            </setting>
            <setting name="RecFile2" serializeAs="String">
                <value />
            </setting>
            <setting name="RecFile3" serializeAs="String">
                <value />
            </setting>
            <setting name="RecFile4" serializeAs="String">
                <value />
            </setting>
            <setting name="RecFile5" serializeAs="String">
                <value />
            </setting>
            <setting name="Initialized" serializeAs="String">
                <value>False</value>
            </setting>
        </pBlazeIDELists.Properties.Settings>
    </userSettings>
</configuration>